{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes(['warning', 'error','success']) %}
        {%  for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
         {%  endfor %}
    {% endfor %}

    {% if success is defined %}
        <p style="color:gold;" class="success">{{ success }}</p>
    {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h1 class="welcomeUser">Bienvenue sur le site du Shinigami lasergame {{ app.user.username }}</h1>


    {% else %}
        <h1 class="welcomeUser">Bienvenue sur le site du Shinigami lasergame</h1>

        <a href="{{path('security_login')}}">
            Veuillez vous connecter
        </a>
        ou
        <a href="{{path('customer_register')}}">Vous inscrire</a>
    {%  endif %}



{% endblock %}